# Entorno virtual
venv/

# Python
__pycache__/
*.pyc
*.pyo

# Base de datos
db.sqlite3

# Archivos estáticos recolectados (collectstatic)
staticfiles/

# Variables de entorno
.env

# Archivos del sistema
.DS_Store
Thumbs.db
